
{% extends "base.html" %} {% block title %}CheckList{% endblock %} 
{% block content %}
<style>
   
    #rightside {
        width: 49%;
        float: right;
        margin-top: 0;
      }

    #leftside {
       
        width: 49%;
        float: left;
        margin-top: 0;
      }


      table, th, tr, input {
        text-align: right;
      }
      h1{
          
          margin: auto;
          text-align:right;
      }
      #mainTable {
      align-items: center;
      float:right;
        width: 100%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }



  
</style>
<body>

<form method="POST">
    <div id="rightside">
    <h1  >פרוייקט חדש</h1>
    <table  class="table table-striped" >   
        <tr> 
    <th>:שם המזמין / הנגר {{current_user.first_name}}</th>
        </tr>
         <tr> 
    <th><input name="projname" value="פרוייקט חדש">:שם הפרוייקט</th>
            </tr>
        <tr> 
    <th><input name="contactname" value="{{current_user.first_name}}"></input>:שם איש קשר</th>
        </tr>
    </table>    

</div>
    <div id="leftside">

    <h1  > פרטים</h1>
    <table  class="table table-striped" >   
        <tr> 
    <th>{{current_user.email}}:דואר אלקטרוני </th>
        </tr>
         <tr> 
    <th><input name="phonen" value="{{current_user.phone}}"></input>:מס טלפון</th>
            </tr>
        <tr> 
    <th>:כתובת {{current_user.address}}</th>
        </tr>
    </table>    
</div>
<div id="mainTable">

    <h1 > צ'ק ליסט</h1>
    <table  class="table table-striped" >   
        <tr> 
    <th>
         <select name="conmval">
        {% for c in conm %}
        <option  value="{{c.cvname}}">{{ c.name }}</option>
        {% endfor %}
    </select>
    :בחר שיטת בניה
</th>
        </tr>
         <tr> 
    <th>
        <div style="width:60%; float:right;">
            <select name="sokelval" style="width:200px; float:left;" >
            {% for s in sokel %}
            <option  value="{{s.cvname}}">{{ s.name }}</option>
            {% endfor %}
            </select>
            :בחר סוג סוקל
           
        </div>
        <div style="width:35%; float:left;">
            <input name="sokelgovaval" value="100" id="govasokel" style="width:80px ;float:left;"/>
            :גובה סוקל

        </div>
    </th>
   
        </tr>
        <tr> 
    <th>
        <select name="doorval">
        {% for d in doors %}
        <option  value="{{d.cvname}}">{{ d.name }}</option>
        {% endfor %}
    </select>
        :בחר סוג דלתות</th>
        </tr>
        <tr> 
    <th> 
        <select name="cabmatval">
        {% for cm in cabmats %}
        <option  value="{{cm.cvname}}">{{ cm.name }}</option>
        {% endfor %}
    </select>
        
        בחר סוג חומר לארגזים</th>
        </tr>
        <tr> 
     <th>
        <select  name="rollsval">
            {% for ro in rolls %}
            <option  value="{{ro.cvname}}">{{ ro.name }}</option>
            {% endfor %}
        </select>
         :בחר סוג מגירות</th>
        </tr>
        <tr> 
        <th>
            <select name="pullsval">
                {% for pu in pulls %}
                <option value="{{pu.cvname}}">{{ pu.name }}</option>
                {% endfor %}
            </select>
            בחר סוג ידיות</th>
         </tr>
    </table>    
   <input type="submit"/>
</form>

</body>







{% endblock %}
