{% extends "base.html" %}
{% block title %}CheckList{% endblock %} 
{% block content %}
<body>
  
<form method="POST">
    <! RIGHTSIDE >
    <div id="rightside">
             <h1  >פרוייקט חדש</h1>
            <table  class="table table-striped">   
                    <tr> 
                    <th><input disabled="true" value="{{current_user.first_name}}" />:שם המזמין / הנגר </th> 
                    </tr>
                    <tr> 
                    <th><input name="projname" value="פרוייקט חדש"/>:שם הפרוייקט</th>
                    </tr>
                    <tr> 
                    <th><input name="contactname" value="{{current_user.first_name}}" />:שם איש קשר</th>
                    </tr>
            </table>    
    </div>

    <! LEFTSIDE >
    <div id="leftside">
            <h1  > פרטים</h1>
            <table  class="table table-striped" >   
                    <tr> 
                    <th><input disabled="true" value="{{current_user.email}}"/>:דואר אלקטרוני</th>
                    </tr>
                    <tr> 
                    <th><input name="phonen" value="{{current_user.phone}}"/>:מס טלפון</th>
                    </tr>
                    <tr> 
                    <th><input disabled="true" value="{{current_user.address}}"/>:כתובת</th>
                    </tr>
             </table>    
     </div>
     <! MAIN >

        <div id="mainTable">

            <h1 > צ'ק ליסט</h1>
            <table  class="table table-striped" >   
                <tr> 
            <th>
                <select name="conmval">
                {% for c in conm %}
                <option  value="{{c.cvname}}">{{ c.name }}</option>
                {% endfor %}
            </select>
            :בחר שיטת בניה
        </th>
                </tr>
                <tr> 
            <th>
                <div style="width:45%; float:right;">
                    <select name="sokelval" style="width:250px; float:center; text-align:right;" >
                    {% for s in sokel %}
                    <option  value="{{s.cvname}}">{{ s.name }}</option>
                    {% endfor %}
                    </select>
                    :בחר סוג סוקל
                
                </div>
                <div style="width:35%; float:right;">
                    <span style= "float:right">:גובה סוקל</span>
                    <input name="sokelgovaval" value="100" id="govasokel" style="width:80px ;float:right;"/>
                

                </div>
            </th>
        
                </tr>
                <tr> 
            <th>
                <select name="doorval">
                {% for d in doors %}
                <option  value="{{d.cvname}}">{{ d.name }}</option>
                {% endfor %}
            </select>
                :בחר סוג דלתות</th>
                </tr>
                <tr> 
            <th> 
                <select name="cabmatval">
                {% for cm in cabmats %}
                <option  value="{{cm.cvname}}">{{ cm.name }}</option>
                {% endfor %}
            </select>
                
                בחר סוג חומר לארגזים</th>
                </tr>
                <tr> 
            <th>
                <select  name="rollsval">
                    {% for ro in rolls %}
                    <option  value="{{ro.cvname}}">{{ ro.name }}</option>
                    {% endfor %}
                </select>
                :בחר סוג מגירות</th>
                </tr>
                <tr> 
                <th>
                    <select name="pullsval">
                        {% for pu in pulls %}
                        <option value="{{pu.cvname}}">{{ pu.name }}</option>
                        {% endfor %}
                    </select>
                    בחר סוג ידיות</th>
                </tr>
            </table>    
   <input class="btn btn-primary" value="שלח" type="submit"/>
</form>

</body>


{% endblock %}




