{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}


<h1>
<pre>
    {{ user.admin }} -- Admin
    {{ user.email }} -- Mail
    {{ user.first_name }} -- First Name
    {{ user.last_name }} -- Last Name
    {{ user.address }} -- Address
    {{ user.phone }} --Phone
</pre>
<div style="float: right">
    <h1> {{ user.first_name }} ,שלום</h1>
    <div>
    {% if user.admin %}
    
 
            יש לך הרשאות לניהול מסד נתונים
            <br>
            <form method="POST" action="/admin">
            <input class="btn-warning" type="submit" value="עריכת מסד נתונים">
         </form>
    {% else %}
            אין לך הרשאות לניהול מסד נתונים
    {% endif %}
</div>


</div>

</h1>

{% endblock %}
