{% extends "base.html" %} 
{% block content %} 

<form for="contentv" method="POST" action="/saveord" >
<button type="POST" class="btn btn-success" style="Margin: 50% 50% 50% 50%; width: 200px; height: 200px;">הכל מוכן. לחץ להורדה</button> 
<textarea style="display:none" id="contentv" name="contentv" >
[Link]
PocketPCPath=""
PCPath=""
PCDate=""
CreateBy="PC_SOLID"
    

[Header]
Version=4
Unit=1
Name="{{current_user.first_name}}"
Description="{{pname}}"
PurchaseOrder="{{pname}}"
Comment="{{gsokel}}:גובה סוקל"
Customer="{{pname}}"
Contact="{{contact}}"
Address1="{{current_user.address}}"
Address2=""
City=""
State=""
Zip=""
Phone="{{phone}}"
Fax=""
Mobile=""
EMail="{{current_user.email}}"
ShipToComment=""
ShipToCustomer=""
ShipToContact=""
ShipToAddress1=""
ShipToAddress2=""
ShipToCity=""
ShipToState=""
ShipToZip=""
ShipToPhone=""
ShipToFax=""
ShipToMobile=""
ShipToEMail=""
BaseDoors="{{door.name}}","{{door.cvname}}","","","","","Door.ddb"
WallDoors="{{door.name}}","{{door.cvname}}","","","","","Door.ddb"
DrawerFront="{{door.name}}","{{door.cvname}}","","","","","Door.ddb"
BaseEndPanels="{{door.name}}","{{door.cvname}}","","","","","Door.ddb"
WallEndPanels="{{door.name}}","{{door.cvname}}","","","","","Door.ddb"
TallEndPanels="{{door.name}}","{{door.cvname}}","","","","","Door.ddb"
CabinetConstruction="{{conm.cvname}}" 
DrawerBoxConstruction="Cabineo Drawer Box"
RollOutConstruction="Cabineo Drawer Box IN"
BaseCabinetMaterials="{{cabmats.cvname}}"
WallCabinetMaterials="{{cabmats.cvname}}"
BaseExposedCabinetMaterials="{{cabmats.cvname}}"
WallExposedCabinetMaterials="{{cabmats.cvname}}"
DrawerBoxMaterials="{{rolls.cvname}}"
RollOutMaterials="{{rolls.cvname}}"
PullMaterials="{{pulls.cvname}}"
HingeMaterials="Blum ClipTop 110° H5"
GuideMaterials="Vision White"
InteriorFinish="שחור"
ExteriorFinish="לבן"

[Walls]
-1250.0,-0.0,0.0,1900.0,2750.0,100.0,1,2,"0",,,,"216","S"

[Catalog]
Name="Custom Cabinets.cvc"

[Parameters]
Attribute="1 Provance Frame ON/OFF","Frame_ON_OFF","bool",0
Attribute="Draws Detailed?","U_Cab_Detailed_Drawers","bool",1

[Cabinets]
1,"Std Base",600.0,880.0,600.0,"*","N",1,"","216-F",440.0,0.0,0.0,2,0,"1V-O|T","215","S"
</textarea>
</form>




{% endblock %}

