


html {

    overflow: hidden;
}

#backsvg {
    
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: hue-rotate(-80deg);
    
    
}
@media (prefers-color-scheme: dark) {
    html{
        filter:invert(none);
    }
    #backsvg {
    filter:brightness(1) invert(0%) hue-rotate(-80deg);
    }
}


/*body{
    background-image: url('./Background.svg');
    background-size: cover;
}*/
.container {
    width: 98vw;
    height: 98vh;
    margin: auto;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid blue;
   */
}

form{
    display: grid;
    position: relative;
    height: 500px;
    border: 2px solid rgba(255,255,255,0.45);;
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
  
  }

#Rectangle1 {
    animation: movearond 120s infinite;
    
}

#Ellipse1 {
    animation: movearond2 230s infinite;
   
}
#Ellipse2 {
    animation: movearond3 230s infinite;
   
}

@keyframes movearond {
    33% {
        transform: translate(-800px, -800px);
    }

        66% {
            transform: translate(1200px, -100px);
        }
        100%{
            transform: translate(0,0);
         
}
    }

    @keyframes movearond2 {
        33% {
            transform: translate(-1800px, 750px);
        }

        66% {
            transform: translate(800px, -350px);
        }

        100% {
            transform: translate(0 , 0);
        }

    }
    @keyframes movearond3 {
        33% {
            transform: translate(1200px, 100px);
        }

        66% {
            transform: translate(-800px, -350px);
        }

        100% {
            transform: translate(0 , 0);
        }

    }