
.newproject{
  width: calc(100% - 30px);
  height: calc(100% - 140px);
  position: relative;
  border: 1px solid black;
  top: 40px;
  margin: auto;
}
.buttons{
  top: 85px;
  width: -webkit-fill-available;
  /* border: 1px solid violet; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
}
.probutton{
  background-color:rgb(158, 153, 230);
  border:none;
  border-radius: 5px;;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 18px;
  margin: 0 10px 0 10px;
  width: 65px;
  height: 35px;
 
}

.probutton:hover{
  animation: buttonshouver 250ms  forwards ;
  -webkit-animation: buttonshouver 250ms  forwards ;
}

@keyframes buttonshouver{
      100%{ background-color:rgb(118, 111, 229);
      }

}
.probutton:active{

  color: aliceblue;
  
}
