
.newproject{
  /*border: 1px solid black;*/
  width: 100%;
  height: 95%;
}
.buttons{
 /* border: 1px solid violet;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
 
}
.probutton{
  background-color:rgb(158, 153, 230);
  border:none;
  border-radius: 5px;;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 24px;
  margin: 0 10px 0 10px;
  width: 100px;
  height: 35px;
 
}

.probutton:hover{
  animation: buttonshouver 250ms  forwards ;
  -webkit-animation: buttonshouver 250ms  forwards ;
}

@keyframes buttonshouver{
      100%{ background-color:rgb(118, 111, 229);
      }

}
.probutton:active{

  color: aliceblue;
  
}
