

:root{
--first: rgb(158, 153, 230;);
--second:rgb(103, 46, 172);
}
header{
  direction: ltr;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--second);
  position: absolute;
  top: 15px;
}

.cabinet{
  background-image: url('./3dwcabinet.svg');
 }
 
.special{
  background-image: url('./checklist.svg');
 }
.typeselector{
  
  background-repeat: no-repeat;
  background-position: center;
  background-size:  calc(100% - 100px)  calc(100% - 80px);
  font-size: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 50%;
  width: 30%;
  border-radius: 10px;
  border: 0.5px solid var(--second);
  background-color:rgba(158, 153, 230,0.5);
  
  
}
.typeselector:hover{
  
  animation: buttonshouver 250ms ease-in forwards;

}
.typeselector:active {
  animation: none;
  background-color: #89901a;
  filter: invert();
}


.newproject{
  width: calc(100% - 30px);
  height: calc(100% - 130px);
  position: absolute;
  border: none;
  top: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*._1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}*/

.on{
  display: all;

}
.off{
  
    display: none;
  
  }

.buttons{
  bottom: 15px;
  width: -webkit-fill-available;
  /* border: 1px solid violet; */
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 40px;
}

.probutton{
  background-color:rgb(158, 153, 230);
  border:none;
  border-radius: 5px;;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 24px;
  margin: 0 10px 0 10px;
  width: 100px;
  height: 35px;
 
}

.probutton:hover{
  animation: buttonshouver 250ms  forwards ;
  -webkit-animation: buttonshouver 250ms  forwards ;
}

@keyframes buttonshouver{
      100%{ background-color:var(--second);
      }

}
.probutton:active {

  color: aliceblue;
  
}
.checked{
  background-color: green;
}