#rightside {
    width: 49%;
    float: right;
  
  }

#leftside {
   
    width: 49%;
    float: left;
    
  }
  

  table, th , td, p , tr, input , form{
    margin: auto;
    float: right;
    text-align: right;
  }
  h1{
      
      margin: auto;
      text-align:right;
  }
  #mainTable {
  align-items: center;
  float:right;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  body
  {
    background-image: url('/static/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


  }
  select{
    width: 220px;
    text-align: right;
    
  }


