body {
  margin: 0;
}

.navbar_main {
  position: absolute;
  z-index: 4;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(158, 153, 230,0.5);
  top:0px;
  width:-webkit-fill-available;
}


.logo {
  height: 30px;
  
}

a {
  text-decoration: none;
}

.nav-item {
  z-index: 3;
  
  
  text-align: center;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'David';
  color: rgb(0, 0, 0);

}


.nav-item:hover {
 
  color: rgb(255, 255, 255);

}
.nav-item:focus{
  background-color: rgb(118, 111, 229);
}



@keyframes dropmenu {
  0% {
    opacity: 0;
    background-color: rgba(158, 153, 230, 0);
    
  }

  100% {
    
    opacity: 1;
    background-color: rgba(158, 153, 230,0.5);
    
  }
}
  @keyframes dropmenudef {
    100% {
      
      opacity: 0;
      background-color: rgba(158, 153, 230, 0);
     
    }
  
    0% {
      opacity: 1;
      background-color: rgba(158, 153, 230);
     
    }
  

}