body {
  margin: 0;
}

.navbar_main {
  opacity: 0;
  height: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(158, 153, 230,0);
  margin: 0px;
  animation: dropmenudef 200ms forwards linear;
  -webkit-animation: dropmenudef 200ms forwards linear;
}

.navbar_main:hover {
  animation: dropmenu 200ms forwards linear;
  
}
.logo {
  height: 10px;
  animation: dropmenudef 200ms forwards linear;
}
.navbar_main:hover  .logo {
  animation: dropmenu 200ms forwards linear ;
  -webkit-animation: dropmenu 200ms forwards linear ;
}

a {
  text-decoration: none;
}

.nav-item {
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 26;
  border-radius: 5px;
  text-decoration: none;
  
  font-size: 24px;
  font-family: 'David';
  color: rgb(0, 0, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-item:hover {

  color: rgb(255, 255, 255);

}
.nav-item:active{
  background-color: rgb(118, 111, 229);
}



@keyframes dropmenu {
  0% {
    opacity: 0;
    background-color: rgba(158, 153, 230, 0);
    height: 10px;
  }

  100% {
    opacity: 1;
    background-color: rgba(158, 153, 230,0.5);
    height: 60px;
  }
}
  @keyframes dropmenudef {
    100% {
      opacity: 0;
      background-color: rgba(158, 153, 230, 0);
      height: 10px;
    }
  
    0% {
      opacity: 1;
      background-color: rgba(158, 153, 230);
      height: 60px;
    }
  

}