body {
  margin: 0;
}

.navbar_main {
  position: absolute;
  top:0px;
  z-index: 4;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(158, 153, 230,0);
  opacity: 0;
  width:-webkit-fill-available;
}

.navbar_main:hover {
  animation: dropmenu 200ms forwards linear;
  
}
.logo {
  height: 60px;
  opacity: 0;
}
.navbar_main:hover  .logo {
  animation: dropmenu 200ms forwards linear ;
  
}

a {
  text-decoration: none;
}

.nav-item {
  z-index: 3;
  
  pointer-events: none;
  text-align: center;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'David';
  color: rgb(0, 0, 0);

}
.navbar_main:hover  .nav-item {
 
  pointer-events: all;

}

.nav-item:hover {
 
  color: rgb(255, 255, 255);

}
.nav-item:active{
  background-color: rgb(118, 111, 229);
}



@keyframes dropmenu {
  0% {
    opacity: 0;
    background-color: rgba(158, 153, 230, 0);
    
  }

  100% {
    
    opacity: 1;
    background-color: rgba(158, 153, 230,0.5);
    
  }
}
  @keyframes dropmenudef {
    100% {
      
     
     
    }
  
    0% {
      opacity: 1;
      background-color: rgba(158, 153, 230);
     
    }
  

}